.player{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.player img{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px;
    cursor: pointer;
}
.player iframe{
    border-radius: 10px;
}
.player-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}
.player-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 9999;
}

.back-btn {
  position: absolute;
  top: 45%;
  left: 20px;
  width: 60px;
  cursor: pointer;
  z-index: 10000;
}

.video-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.loader {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
}
