.titile-cards {
  margin-top: 50px;
  margin-bottom: 30px;
}

.titile-cards h2 {
  margin-bottom: 8px;
  color: white;
}

.card-list {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  scroll-behavior: smooth;
  cursor: grab;
  user-select: none;
}

.card-list:active {
  cursor: grabbing;
}

.card-link {
  text-decoration: none;
  color: inherit;
}

.card {
  flex: 0 0 auto;
  width: 200px;
  position: relative;
}

.card img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  border-radius: 4px;
  display: block;
}

.card p {
  color: #fff;
  text-align: center;
  margin: 5px 0 0 0;
}

.card-list::-webkit-scrollbar {
  display: none;
}

@media (max-width: 800px) {
  .titile-cards {
    margin-top: 20px;
    margin-bottom: 0;
  }
  .titile-cards h2 {
    font-size: 20px;
  }
  .card {
    width: 160px;
  }
  .card img {
    height: 200px;
  }
  .card p {
    font-size: 12px;
  }
}

@media (max-width: 500px) {
  .titile-cards h2 {
    font-size: 15px;
  }
  .card {
    width: 140px;
  }
  .card img {
    height: 180px;
  }
  .card p {
    font-size: 10px;
  }
}

/*  */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-content {
  position: relative;
  width: 80%;
  max-width: 900px;
  background: #000;
  border-radius: 10px;
  overflow: hidden;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 22px;
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  z-index: 1000;
}
